/* Votre Style */
body,.ventre{
	background-color: #07123A; /*bleu très foncé, presque noir*/
	color: #FFE5AA; /*beige clair*/
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
body a,.fond0 a,.titre a,.ventre a {
/*liens dans accueil-dates et partout où a n'est pas précisé */
	text-decoration: none;
   font-weight: bold;
   color: #FFE5AA; /*beige clair*/
}
body a:hover,.fond0 a:hover,.fond a:hover {
    /*background-color: #000000;*/
    color: #C7D1F4; /*bleu très très clair*/
 }
.fond0,.fond,.titre  {
	color: #FFE5AA;  /*beige clair*/
	background-color: #172557; /*bleu foncé*/ /*#303E73; /*bleu moyen-foncé*/
}
.fond a,.fond2 a {
/*liens dans doc source, dans -co et -trans*/
	text-decoration: none;
   font-weight: bold;
   color: #553B00;/*marron très foncé*/
}
.fond2 a:hover {
   background-color: #AA8739; /*beige moyen*/
   border: 2px solid #000;
   color: #C7D1F4; /*bleu très très clair*/
 }

/*header*/
.bandeau {
/*background :url("../images/bandeau-titre-bleu-b- 450x100.jpg")no-repeat top center, url("../images/bandeau-manuscrit bleu-429x100.jpg") no-repeat top right, url("../images/bandeau-accueil3-597x100.jpg")top right;*/
height: 100px;
width: 100%;
text-align: center;
background :url("../images/bandeau-titre-bleu-c- 450x100.jpg")no-repeat top center, url("../images/bandeau-cest-a-craonne-5-333x100.jpg")top right;
}

/*BARRE d'icônes*/
.icone-disp{
display: block;
}
.aside {
height:auto;
}
.barre_nav { /*barre d'icônes gauche et droite*/
color: #FFE5AA; /*beige clair*/
background-color:#303E73; /*bleu moyen-foncé*/
}
.nav-item2{/*pied de page*/
background-color: #7A85AD; /*bleu clair*/
border:none;
}

/*CONTENEURS*/
.flex-container {
    display: -webkit-flex;
    display: flex;  
	-moz-flex-flow; row wrap;
   -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-container > * {
    padding: 1px;
	-webkit-flex : 1 100%;  
    flex: 1 100%;
}
.main,.main1,.main2,.main3 {
    text-align: justify;
 }

/*CADRE FRAME*/
.ifram {/*cadre d'affichage -co et -trans */
background-color:#FFE5AA; /*beige clair*/
color:#000000;
font-family:Arial, Helvetica, sans-serif;
border:none;
}

/* ONGLETS*/
#onglets{
    font : bold 18px Arial, Helvetica, sans-serif;
    list-style-type : none;/*supprime la puce*/
	 padding-top:10px; 
	 border-top: 2px solid #FFE5AA;  /*ligne de séparation supérieure beige*/
    padding-bottom : 31px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    /*border-bottom : 1px solid #07123A;*/	 
	 margin-top:0;    
    margin-left : 0;
    background-color:  #515E90;  
}
#onglets li{
	display: inline-block;    
    float : left;
    height : 29px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #303E73;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    /*border : 1px solid #303E73;*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;	
}
/*#onglets li.active{*/
#onglets li#actif{
    border-bottom: 2px solid #07123A;
    background-color: #07123A;
    color: #FFE5AA;
    padding : 4px;
}
#onglets li#inactif{
    border-bottom: 2px solid #A9B1C6;
    background-color: #A9B1C6;
    color: grey;
    padding : 4px;
     height : 29px;
}
#onglets a{
    display : block;
	 color : #FFE5AA;
    text-decoration : none;
    padding : 4px;
}
#onglets a:hover{
    background-color : #C1C8DF;
    color: #07123A;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;	
}

/*TABLEAU DATES*/
#dates{text-align: center;}
#bouton-date{
    background-color: #515E90; /*#172557;*/
    border: none;
    color: #FFE5AA;
    padding: 8px 6px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 26px;
    /*margin: 4px 8px;*/
    width: 80%;
    /*cursor: pointer;*/
}
#bouton-date:hover{
color: #FFE5AA;
background-color: #7A85AD;/*bleu clair*/
}

/*Page d'INTRO*/
#intro a:link, a:visited {
    background-color: #FFE5AA;/*beige clair*/
    color: #553B00;/*marron très foncé*/
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    border-radius: 6px;
    text-shadow: 2px 2px white;
}
#intro a:hover, a:active {
    background-color: #C1C8DF;
}
/*------------------------*/
/*PALETTE*/
.bleu-clair-000 { color: #C7D1F4; /*bleu très très clair*/} 
.bleu-clair-00 { color: #C1C8DF; /*bleu très clair*/} 
.bleu-clair-0 { color: #7A85AD; /*bleu clair*/ } 
.bleu-moyen-1 { color: #515E90; /*bleu moyen-clair*/} 
.bleu-moyen-2 { color: #303E73; /*bleu moyen-foncé*/ } 
.bleu-fonce-1 { color: #172557; /*bleu foncé*/ }
.bleu-fonce-2 { color: #07123A; /*bleu très foncé, presque noir*/ } 

.beige-clair { color: #FFE5AA; /*beige clair*/}	
.beige-moyen-1 { color: #D4B46A; /*beige moyen-clair*/}	
.beige-moyen-2 { color: #AA8739; /*beige moyen*/}	
.marron-1 { color: #805F15; /*marron*/}	
.marron-2 { color: #553B00; /*marron très foncé*/} 

/*Paires fond-texte*/
.backcoulprim1{
	background-color: #7A85AD;/*bleu clair*/
	color: #FFEBBF;/*beige très clair*/
}
.backcoulprim2{
	background-color: #515E90; /*bleu moyen-clair*/
	color: #FFE5AA;	/*beige clair*/
}
.backcoulprim3{
	background-color: #303E73; /*bleu moyen-foncé*/
	color: #FFE5AA; /*beige clair*/
}
.backcoulprim4{
	background-color: #172557; /*bleu foncé*/
	color: #FFE5AA; /*beige clair*/
}
.backcoulprim5{
	background-color: #07123A; /*bleu très foncé, presque noir*/
	color: #FFE5AA; /*beige clair*/
}
.backcoulcomp1{
	background-color: #FFE5AA; /*beige clair*/
	color: #172557; /*bleu foncé*/
}
.backcoulcomp2{
	background-color: #D4B46A; /*beige moyen-clair*/
	color: #172557; /*bleu foncé*/
}
.backcoulcomp2b{
	background-color: #D4B46A; /*beige moyen-clair*/
	color: #172557; /*bleu foncé*/
	border:4px;
	border-style:ridge;/*groove*/
}
.backcoulcomp3{
	background-color: #AA8739; /*beige moyen*/
	color: #172557;  /*bleu foncé*/
}
.backcoulcomp4{
	background-color: #805F15; /*marron*/
	color: #C1C8DF; /*bleu très clair*/
}
.backcoulcomp5{
	background-color: #553B00;  /*marron très foncé*/
	color: #C1C8DF; /*bleu très très clair*/
}
/*-----POLICE, CORPS, ligne, marges------*/
.texte1{
font-family:Arial, Helvetica, sans-serif;
font-size: 30px;
/*margin-bottom: 0.35cm;*/
 /*line-height: 115%;*/
}
.texte2 {
font-family:Arial, Helvetica, sans-serif;
font-size: 22px;
margin-bottom: 0.75cm;
line-height: 115%;
}
.texte3 {
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
margin-bottom: 0cm;
line-height: 115%;
}
.texte3w {
font-family:Arial, Helvetica, sans-serif;
font-size: 18px;
margin-bottom: 0cm;
line-height: 140%;
}
.texte4 {
font-family:Arial, Helvetica, sans-serif;
font-size: 13px;
margin-bottom: 0cm;
line-height: 100%;
}

.cartouche{
    border: 3px solid #000;
    background-color:#FFF;
    color:#000;
    padding: 1px 4px 1px 4px;
    position: relative;
}
/*MEDIA-QUERIES à laisser à la fin*/
    
@media all and (min-width: 244px) {
    .aside1 { flex: 1 1 auto; }/*40px*/
    .marges { margin:5px;}
    #barre-ico{padding-top:0px}
      
 }
@media all and (min-width: 544px) {
   .main {-webkit-flex:29;order: 2; }
   .main { flex:29;order: 2; }/*la valeur donnée à flex est le poids relatif aux autres éléments flex du container ici total=30*/
	.main1{-webkit-flex: 17 0px;order: 2; }
	.main1{flex: 17 0px;order: 2; }
   .main2{-webkit- flex: 12 0px;order: 3; } 
   .main2{flex: 12 0px;order: 3; }
   .main3{-webkit-flex: 6 0px; order:4}
   .main3{flex: 6 0px; order:4}
    #present-texte{-webkit-flex:17 0px; order:2}
    #present-texte{flex:17 0px; order:2}
    #present-image{-webkit-flex:12 0px; order:3 }
    #present-image{-webkit-flex:12 0px; order:3 }
    #trans-texte {-webkit-flex:12 0px; order:2} 
    #trans-texte {flex:12 0px; order:2 }
    #trans-image{-webkit-flex:17 0px; order:3}
    #trans-image{flex:17 0px; order:3  }
	 #source{-webkit-flex:28 0px; order:2 }    
    #source{flex:28 0px; order:2 }
	.aside1 {-webkit-flex: 2 auto;order: 1}/*0px*/    
    .aside1 {-webkit-flex: 2 auto;order: 1}/*0px*/
    .aside2 { order: 4; }
    .footer  { order: 5; }
    .marges { margin:20px;} 
    #barre-ico{padding-top :15px}
}
@media all and (min-width: 800px) {
   .aside1 { flex: 1 auto;order: 1}/*20px*/
	.marges { margin : 35px;}
	.flex-container {min-height: 700px;}
	#savoir-plus{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule:2px solid; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px solid; /* Firefox */
    column-rule: 2px solid;
   }
}
@media screen and (max-width: 544px) {
    .bandeau {
		height: 50px;
		width: 100%;
		text-align: center;      
      background :url("../images/bandeau-titre-bleu-c- 225x50.jpg")no-repeat top center, url("../images/bandeau-cest-a-craonne-5-333x50.jpg")top right;
     }
     .barre_nav { /*barre d'icônes gauche et droite*/
		width:100%;
		text-align: center; 
		}
     .icone-disp{
		display: inline-block; 
		}
		.texte1{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 20px;
		margin-bottom: 0.17cm; line-height: 115%;
}
		.texte2 {
		font-family:Arial, Helvetica, sans-serif;
		font-size: 15px;
		margin-bottom: 0.15cm;
		line-height: 115%;
}
		.texte3w {
		font-family:Arial, Helvetica, sans-serif;
		font-size: 14px;
		margin-bottom: 0cm;
		line-height: 120%;
		}
		#bouton-date{
		font-size: 20px;
		}
		#onglets{
    	font : bold 13px Arial, Helvetica, sans-serif;
	   padding-top:10px;    
    	padding-bottom : 21px;
   	}
   	#onglets a{
    	font-size: 13px;
    	padding : 1px;
		}
		#onglets li{
    	height : 21px;
    }
    
 }

